# Migrations
**/migrations/*
!*/migrations/__init__.py
!__init__.py

### Django ###
*.log
*.pot
*.pyc
__pycache__/

### ENV
.env
deployments/credentials.csv

### mypy
.mypy_cache

# django static
app/static/