# migrations
**/migrations/*
!*/migrations/__init__.py
!__init__.py

# django
*.log
*.pot
*.pyc
__pycache__/
app/static/

# env
.env

# google service account
client-secret.json

# mypy
.mypy_cache

# gcloud proxy
cloud_sql_proxy

# gcloud true config
app.yaml

# data dump
dump.json