[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
django = "*"
djangorestframework = "*"
django-configurations = "*"
psycopg2 = "*"
django-cors-headers = "*"
pyyaml = "*"
django-dotenv = "*"
djangorestframework-camel-case = "*"
awsebcli = "*"

[requires]
python_version = "3.7"
